/* =============
    Header
============= */

header {
    display: grid;
    grid-template-columns: 16px auto 16px;
    background-color: red;
    grid-template-areas: ". header .";

    >div{
        grid-area: header;
    }
}